header {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.cart-button {
    border: 2px solid blue;
    border-radius: 30px;
    height: 30px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid blue;
    height: 500px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 260px;
    width: 175px;
}